@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Baumans");
@import url("https://pro.fontawesome.com/releases/v5.15.1/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Font variables */
.ubuntu-font {
  font-family: "Ubuntu", sans-serif !important; }

.roboto-font {
  font-family: "Roboto Condensed", sans-serif !important; }

.open-sans-font {
  font-family: "Open Sans", sans-serif !important; }

/* Icon sources */
/* Grid */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Only change these */
/* For grids */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Markup Definitions */
* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif !important;
  color: #333333; }

.grid-layout {
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-gap: 0; }

.col-1 {
  grid-column: span 1;
  overflow: hidden; }

.col-2 {
  grid-column: span 2;
  overflow: hidden; }

.col-3 {
  grid-column: span 3;
  overflow: hidden; }

.col-4 {
  grid-column: span 4;
  overflow: hidden; }

.col-5 {
  grid-column: span 5;
  overflow: hidden; }

.col-6 {
  grid-column: span 6;
  overflow: hidden; }

.col-7 {
  grid-column: span 7;
  overflow: hidden; }

.col-8 {
  grid-column: span 8;
  overflow: hidden; }

.col-9 {
  grid-column: span 9;
  overflow: hidden; }

.col-10 {
  grid-column: span 10;
  overflow: hidden; }

.col-11 {
  grid-column: span 11;
  overflow: hidden; }

.col-12 {
  grid-column: span 12;
  overflow: hidden; }

.col-13 {
  grid-column: span 13;
  overflow: hidden; }

.col-14 {
  grid-column: span 14;
  overflow: hidden; }

.col-15 {
  grid-column: span 15;
  overflow: hidden; }

.col-16 {
  grid-column: span 16;
  overflow: hidden; }

.btn-5 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.btn-round-25 {
  height: 25px;
  width: 25px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.btn-corner-2 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer; }

.input-5 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 0; }

.input-corner-2 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 2px; }

h1 {
  font-size: 40px !important;
  width: 100%; }

.bor-1 {
  border: 1px solid !important; }

.bor-left-1 {
  border-left: 1px solid !important; }

.bor-right-1 {
  border-right: 1px solid !important; }

.bor-top-1 {
  border-top: 1px solid !important; }

.bor-bottom-1 {
  border-bottom: 1px solid !important; }

.bor-rad-1 {
  border-radius: 1px !important; }

.btn-10 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.btn-round-50 {
  height: 50px;
  width: 50px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.btn-corner-4 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.input-10 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 0; }

.input-corner-4 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 4px; }

h2 {
  font-size: 35px !important;
  width: 100%; }

.bor-2 {
  border: 2px solid !important; }

.bor-left-2 {
  border-left: 2px solid !important; }

.bor-right-2 {
  border-right: 2px solid !important; }

.bor-top-2 {
  border-top: 2px solid !important; }

.bor-bottom-2 {
  border-bottom: 2px solid !important; }

.bor-rad-2 {
  border-radius: 2px !important; }

.btn-15 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.btn-round-75 {
  height: 75px;
  width: 75px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.btn-corner-6 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer; }

.input-15 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 0; }

.input-corner-6 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 6px; }

h3 {
  font-size: 30px !important;
  width: 100%; }

.bor-3 {
  border: 3px solid !important; }

.bor-left-3 {
  border-left: 3px solid !important; }

.bor-right-3 {
  border-right: 3px solid !important; }

.bor-top-3 {
  border-top: 3px solid !important; }

.bor-bottom-3 {
  border-bottom: 3px solid !important; }

.bor-rad-3 {
  border-radius: 3px !important; }

.btn-20 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.btn-round-100 {
  height: 100px;
  width: 100px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.btn-corner-8 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer; }

.input-20 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 0; }

.input-corner-8 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 8px; }

h4 {
  font-size: 25px !important;
  width: 100%; }

.bor-4 {
  border: 4px solid !important; }

.bor-left-4 {
  border-left: 4px solid !important; }

.bor-right-4 {
  border-right: 4px solid !important; }

.bor-top-4 {
  border-top: 4px solid !important; }

.bor-bottom-4 {
  border-bottom: 4px solid !important; }

.bor-rad-4 {
  border-radius: 4px !important; }

.btn-25 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 25px;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.btn-round-125 {
  height: 125px;
  width: 125px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.btn-corner-10 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer; }

.input-25 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 25px;
  border: none;
  border-radius: 0; }

.input-corner-10 {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 10px; }

h5 {
  font-size: 20px !important;
  width: 100%; }

.bor-5 {
  border: 5px solid !important; }

.bor-left-5 {
  border-left: 5px solid !important; }

.bor-right-5 {
  border-right: 5px solid !important; }

.bor-top-5 {
  border-top: 5px solid !important; }

.bor-bottom-5 {
  border-bottom: 5px solid !important; }

.bor-rad-5 {
  border-radius: 5px !important; }

.size-1 {
  font-size: 1px !important; }

.pad-5 {
  padding: 5px !important; }

.pad-left-5 {
  padding-left: 5px !important; }

.pad-right-5 {
  padding-right: 5px !important; }

.pad-top-5 {
  padding-top: 5px !important; }

.pad-bottom-5 {
  padding-bottom: 5px !important; }

.mar-5 {
  margin: 5px !important; }

.mar-left-5 {
  margin-left: 5px !important; }

.mar-right-5 {
  margin-right: 5px !important; }

.mar-top-5 {
  margin-top: 5px !important; }

.mar-bottom-5 {
  margin-bottom: 5px !important; }

.size-2 {
  font-size: 2px !important; }

.pad-10 {
  padding: 10px !important; }

.pad-left-10 {
  padding-left: 10px !important; }

.pad-right-10 {
  padding-right: 10px !important; }

.pad-top-10 {
  padding-top: 10px !important; }

.pad-bottom-10 {
  padding-bottom: 10px !important; }

.mar-10 {
  margin: 10px !important; }

.mar-left-10 {
  margin-left: 10px !important; }

.mar-right-10 {
  margin-right: 10px !important; }

.mar-top-10 {
  margin-top: 10px !important; }

.mar-bottom-10 {
  margin-bottom: 10px !important; }

.size-3 {
  font-size: 3px !important; }

.pad-15 {
  padding: 15px !important; }

.pad-left-15 {
  padding-left: 15px !important; }

.pad-right-15 {
  padding-right: 15px !important; }

.pad-top-15 {
  padding-top: 15px !important; }

.pad-bottom-15 {
  padding-bottom: 15px !important; }

.mar-15 {
  margin: 15px !important; }

.mar-left-15 {
  margin-left: 15px !important; }

.mar-right-15 {
  margin-right: 15px !important; }

.mar-top-15 {
  margin-top: 15px !important; }

.mar-bottom-15 {
  margin-bottom: 15px !important; }

.size-4 {
  font-size: 4px !important; }

.pad-20 {
  padding: 20px !important; }

.pad-left-20 {
  padding-left: 20px !important; }

.pad-right-20 {
  padding-right: 20px !important; }

.pad-top-20 {
  padding-top: 20px !important; }

.pad-bottom-20 {
  padding-bottom: 20px !important; }

.mar-20 {
  margin: 20px !important; }

.mar-left-20 {
  margin-left: 20px !important; }

.mar-right-20 {
  margin-right: 20px !important; }

.mar-top-20 {
  margin-top: 20px !important; }

.mar-bottom-20 {
  margin-bottom: 20px !important; }

.size-5 {
  font-size: 5px !important; }

.pad-25 {
  padding: 25px !important; }

.pad-left-25 {
  padding-left: 25px !important; }

.pad-right-25 {
  padding-right: 25px !important; }

.pad-top-25 {
  padding-top: 25px !important; }

.pad-bottom-25 {
  padding-bottom: 25px !important; }

.mar-25 {
  margin: 25px !important; }

.mar-left-25 {
  margin-left: 25px !important; }

.mar-right-25 {
  margin-right: 25px !important; }

.mar-top-25 {
  margin-top: 25px !important; }

.mar-bottom-25 {
  margin-bottom: 25px !important; }

.size-6 {
  font-size: 6px !important; }

.pad-30 {
  padding: 30px !important; }

.pad-left-30 {
  padding-left: 30px !important; }

.pad-right-30 {
  padding-right: 30px !important; }

.pad-top-30 {
  padding-top: 30px !important; }

.pad-bottom-30 {
  padding-bottom: 30px !important; }

.mar-30 {
  margin: 30px !important; }

.mar-left-30 {
  margin-left: 30px !important; }

.mar-right-30 {
  margin-right: 30px !important; }

.mar-top-30 {
  margin-top: 30px !important; }

.mar-bottom-30 {
  margin-bottom: 30px !important; }

.size-7 {
  font-size: 7px !important; }

.pad-35 {
  padding: 35px !important; }

.pad-left-35 {
  padding-left: 35px !important; }

.pad-right-35 {
  padding-right: 35px !important; }

.pad-top-35 {
  padding-top: 35px !important; }

.pad-bottom-35 {
  padding-bottom: 35px !important; }

.mar-35 {
  margin: 35px !important; }

.mar-left-35 {
  margin-left: 35px !important; }

.mar-right-35 {
  margin-right: 35px !important; }

.mar-top-35 {
  margin-top: 35px !important; }

.mar-bottom-35 {
  margin-bottom: 35px !important; }

.size-8 {
  font-size: 8px !important; }

.pad-40 {
  padding: 40px !important; }

.pad-left-40 {
  padding-left: 40px !important; }

.pad-right-40 {
  padding-right: 40px !important; }

.pad-top-40 {
  padding-top: 40px !important; }

.pad-bottom-40 {
  padding-bottom: 40px !important; }

.mar-40 {
  margin: 40px !important; }

.mar-left-40 {
  margin-left: 40px !important; }

.mar-right-40 {
  margin-right: 40px !important; }

.mar-top-40 {
  margin-top: 40px !important; }

.mar-bottom-40 {
  margin-bottom: 40px !important; }

.size-9 {
  font-size: 9px !important; }

.pad-45 {
  padding: 45px !important; }

.pad-left-45 {
  padding-left: 45px !important; }

.pad-right-45 {
  padding-right: 45px !important; }

.pad-top-45 {
  padding-top: 45px !important; }

.pad-bottom-45 {
  padding-bottom: 45px !important; }

.mar-45 {
  margin: 45px !important; }

.mar-left-45 {
  margin-left: 45px !important; }

.mar-right-45 {
  margin-right: 45px !important; }

.mar-top-45 {
  margin-top: 45px !important; }

.mar-bottom-45 {
  margin-bottom: 45px !important; }

.size-10 {
  font-size: 10px !important; }

.pad-50 {
  padding: 50px !important; }

.pad-left-50 {
  padding-left: 50px !important; }

.pad-right-50 {
  padding-right: 50px !important; }

.pad-top-50 {
  padding-top: 50px !important; }

.pad-bottom-50 {
  padding-bottom: 50px !important; }

.mar-50 {
  margin: 50px !important; }

.mar-left-50 {
  margin-left: 50px !important; }

.mar-right-50 {
  margin-right: 50px !important; }

.mar-top-50 {
  margin-top: 50px !important; }

.mar-bottom-50 {
  margin-bottom: 50px !important; }

.size-11 {
  font-size: 11px !important; }

.pad-55 {
  padding: 55px !important; }

.pad-left-55 {
  padding-left: 55px !important; }

.pad-right-55 {
  padding-right: 55px !important; }

.pad-top-55 {
  padding-top: 55px !important; }

.pad-bottom-55 {
  padding-bottom: 55px !important; }

.mar-55 {
  margin: 55px !important; }

.mar-left-55 {
  margin-left: 55px !important; }

.mar-right-55 {
  margin-right: 55px !important; }

.mar-top-55 {
  margin-top: 55px !important; }

.mar-bottom-55 {
  margin-bottom: 55px !important; }

.size-12 {
  font-size: 12px !important; }

.pad-60 {
  padding: 60px !important; }

.pad-left-60 {
  padding-left: 60px !important; }

.pad-right-60 {
  padding-right: 60px !important; }

.pad-top-60 {
  padding-top: 60px !important; }

.pad-bottom-60 {
  padding-bottom: 60px !important; }

.mar-60 {
  margin: 60px !important; }

.mar-left-60 {
  margin-left: 60px !important; }

.mar-right-60 {
  margin-right: 60px !important; }

.mar-top-60 {
  margin-top: 60px !important; }

.mar-bottom-60 {
  margin-bottom: 60px !important; }

.size-13 {
  font-size: 13px !important; }

.pad-65 {
  padding: 65px !important; }

.pad-left-65 {
  padding-left: 65px !important; }

.pad-right-65 {
  padding-right: 65px !important; }

.pad-top-65 {
  padding-top: 65px !important; }

.pad-bottom-65 {
  padding-bottom: 65px !important; }

.mar-65 {
  margin: 65px !important; }

.mar-left-65 {
  margin-left: 65px !important; }

.mar-right-65 {
  margin-right: 65px !important; }

.mar-top-65 {
  margin-top: 65px !important; }

.mar-bottom-65 {
  margin-bottom: 65px !important; }

.size-14 {
  font-size: 14px !important; }

.pad-70 {
  padding: 70px !important; }

.pad-left-70 {
  padding-left: 70px !important; }

.pad-right-70 {
  padding-right: 70px !important; }

.pad-top-70 {
  padding-top: 70px !important; }

.pad-bottom-70 {
  padding-bottom: 70px !important; }

.mar-70 {
  margin: 70px !important; }

.mar-left-70 {
  margin-left: 70px !important; }

.mar-right-70 {
  margin-right: 70px !important; }

.mar-top-70 {
  margin-top: 70px !important; }

.mar-bottom-70 {
  margin-bottom: 70px !important; }

.size-15 {
  font-size: 15px !important; }

.pad-75 {
  padding: 75px !important; }

.pad-left-75 {
  padding-left: 75px !important; }

.pad-right-75 {
  padding-right: 75px !important; }

.pad-top-75 {
  padding-top: 75px !important; }

.pad-bottom-75 {
  padding-bottom: 75px !important; }

.mar-75 {
  margin: 75px !important; }

.mar-left-75 {
  margin-left: 75px !important; }

.mar-right-75 {
  margin-right: 75px !important; }

.mar-top-75 {
  margin-top: 75px !important; }

.mar-bottom-75 {
  margin-bottom: 75px !important; }

.size-16 {
  font-size: 16px !important; }

.pad-80 {
  padding: 80px !important; }

.pad-left-80 {
  padding-left: 80px !important; }

.pad-right-80 {
  padding-right: 80px !important; }

.pad-top-80 {
  padding-top: 80px !important; }

.pad-bottom-80 {
  padding-bottom: 80px !important; }

.mar-80 {
  margin: 80px !important; }

.mar-left-80 {
  margin-left: 80px !important; }

.mar-right-80 {
  margin-right: 80px !important; }

.mar-top-80 {
  margin-top: 80px !important; }

.mar-bottom-80 {
  margin-bottom: 80px !important; }

.size-17 {
  font-size: 17px !important; }

.pad-85 {
  padding: 85px !important; }

.pad-left-85 {
  padding-left: 85px !important; }

.pad-right-85 {
  padding-right: 85px !important; }

.pad-top-85 {
  padding-top: 85px !important; }

.pad-bottom-85 {
  padding-bottom: 85px !important; }

.mar-85 {
  margin: 85px !important; }

.mar-left-85 {
  margin-left: 85px !important; }

.mar-right-85 {
  margin-right: 85px !important; }

.mar-top-85 {
  margin-top: 85px !important; }

.mar-bottom-85 {
  margin-bottom: 85px !important; }

.size-18 {
  font-size: 18px !important; }

.pad-90 {
  padding: 90px !important; }

.pad-left-90 {
  padding-left: 90px !important; }

.pad-right-90 {
  padding-right: 90px !important; }

.pad-top-90 {
  padding-top: 90px !important; }

.pad-bottom-90 {
  padding-bottom: 90px !important; }

.mar-90 {
  margin: 90px !important; }

.mar-left-90 {
  margin-left: 90px !important; }

.mar-right-90 {
  margin-right: 90px !important; }

.mar-top-90 {
  margin-top: 90px !important; }

.mar-bottom-90 {
  margin-bottom: 90px !important; }

.size-19 {
  font-size: 19px !important; }

.pad-95 {
  padding: 95px !important; }

.pad-left-95 {
  padding-left: 95px !important; }

.pad-right-95 {
  padding-right: 95px !important; }

.pad-top-95 {
  padding-top: 95px !important; }

.pad-bottom-95 {
  padding-bottom: 95px !important; }

.mar-95 {
  margin: 95px !important; }

.mar-left-95 {
  margin-left: 95px !important; }

.mar-right-95 {
  margin-right: 95px !important; }

.mar-top-95 {
  margin-top: 95px !important; }

.mar-bottom-95 {
  margin-bottom: 95px !important; }

.size-20 {
  font-size: 20px !important; }

.pad-100 {
  padding: 100px !important; }

.pad-left-100 {
  padding-left: 100px !important; }

.pad-right-100 {
  padding-right: 100px !important; }

.pad-top-100 {
  padding-top: 100px !important; }

.pad-bottom-100 {
  padding-bottom: 100px !important; }

.mar-100 {
  margin: 100px !important; }

.mar-left-100 {
  margin-left: 100px !important; }

.mar-right-100 {
  margin-right: 100px !important; }

.mar-top-100 {
  margin-top: 100px !important; }

.mar-bottom-100 {
  margin-bottom: 100px !important; }

.size-21 {
  font-size: 21px !important; }

.pad-105 {
  padding: 105px !important; }

.pad-left-105 {
  padding-left: 105px !important; }

.pad-right-105 {
  padding-right: 105px !important; }

.pad-top-105 {
  padding-top: 105px !important; }

.pad-bottom-105 {
  padding-bottom: 105px !important; }

.mar-105 {
  margin: 105px !important; }

.mar-left-105 {
  margin-left: 105px !important; }

.mar-right-105 {
  margin-right: 105px !important; }

.mar-top-105 {
  margin-top: 105px !important; }

.mar-bottom-105 {
  margin-bottom: 105px !important; }

.size-22 {
  font-size: 22px !important; }

.pad-110 {
  padding: 110px !important; }

.pad-left-110 {
  padding-left: 110px !important; }

.pad-right-110 {
  padding-right: 110px !important; }

.pad-top-110 {
  padding-top: 110px !important; }

.pad-bottom-110 {
  padding-bottom: 110px !important; }

.mar-110 {
  margin: 110px !important; }

.mar-left-110 {
  margin-left: 110px !important; }

.mar-right-110 {
  margin-right: 110px !important; }

.mar-top-110 {
  margin-top: 110px !important; }

.mar-bottom-110 {
  margin-bottom: 110px !important; }

.size-23 {
  font-size: 23px !important; }

.pad-115 {
  padding: 115px !important; }

.pad-left-115 {
  padding-left: 115px !important; }

.pad-right-115 {
  padding-right: 115px !important; }

.pad-top-115 {
  padding-top: 115px !important; }

.pad-bottom-115 {
  padding-bottom: 115px !important; }

.mar-115 {
  margin: 115px !important; }

.mar-left-115 {
  margin-left: 115px !important; }

.mar-right-115 {
  margin-right: 115px !important; }

.mar-top-115 {
  margin-top: 115px !important; }

.mar-bottom-115 {
  margin-bottom: 115px !important; }

.size-24 {
  font-size: 24px !important; }

.pad-120 {
  padding: 120px !important; }

.pad-left-120 {
  padding-left: 120px !important; }

.pad-right-120 {
  padding-right: 120px !important; }

.pad-top-120 {
  padding-top: 120px !important; }

.pad-bottom-120 {
  padding-bottom: 120px !important; }

.mar-120 {
  margin: 120px !important; }

.mar-left-120 {
  margin-left: 120px !important; }

.mar-right-120 {
  margin-right: 120px !important; }

.mar-top-120 {
  margin-top: 120px !important; }

.mar-bottom-120 {
  margin-bottom: 120px !important; }

.size-25 {
  font-size: 25px !important; }

.pad-125 {
  padding: 125px !important; }

.pad-left-125 {
  padding-left: 125px !important; }

.pad-right-125 {
  padding-right: 125px !important; }

.pad-top-125 {
  padding-top: 125px !important; }

.pad-bottom-125 {
  padding-bottom: 125px !important; }

.mar-125 {
  margin: 125px !important; }

.mar-left-125 {
  margin-left: 125px !important; }

.mar-right-125 {
  margin-right: 125px !important; }

.mar-top-125 {
  margin-top: 125px !important; }

.mar-bottom-125 {
  margin-bottom: 125px !important; }

.size-26 {
  font-size: 26px !important; }

.pad-130 {
  padding: 130px !important; }

.pad-left-130 {
  padding-left: 130px !important; }

.pad-right-130 {
  padding-right: 130px !important; }

.pad-top-130 {
  padding-top: 130px !important; }

.pad-bottom-130 {
  padding-bottom: 130px !important; }

.mar-130 {
  margin: 130px !important; }

.mar-left-130 {
  margin-left: 130px !important; }

.mar-right-130 {
  margin-right: 130px !important; }

.mar-top-130 {
  margin-top: 130px !important; }

.mar-bottom-130 {
  margin-bottom: 130px !important; }

.size-27 {
  font-size: 27px !important; }

.pad-135 {
  padding: 135px !important; }

.pad-left-135 {
  padding-left: 135px !important; }

.pad-right-135 {
  padding-right: 135px !important; }

.pad-top-135 {
  padding-top: 135px !important; }

.pad-bottom-135 {
  padding-bottom: 135px !important; }

.mar-135 {
  margin: 135px !important; }

.mar-left-135 {
  margin-left: 135px !important; }

.mar-right-135 {
  margin-right: 135px !important; }

.mar-top-135 {
  margin-top: 135px !important; }

.mar-bottom-135 {
  margin-bottom: 135px !important; }

.size-28 {
  font-size: 28px !important; }

.pad-140 {
  padding: 140px !important; }

.pad-left-140 {
  padding-left: 140px !important; }

.pad-right-140 {
  padding-right: 140px !important; }

.pad-top-140 {
  padding-top: 140px !important; }

.pad-bottom-140 {
  padding-bottom: 140px !important; }

.mar-140 {
  margin: 140px !important; }

.mar-left-140 {
  margin-left: 140px !important; }

.mar-right-140 {
  margin-right: 140px !important; }

.mar-top-140 {
  margin-top: 140px !important; }

.mar-bottom-140 {
  margin-bottom: 140px !important; }

.size-29 {
  font-size: 29px !important; }

.pad-145 {
  padding: 145px !important; }

.pad-left-145 {
  padding-left: 145px !important; }

.pad-right-145 {
  padding-right: 145px !important; }

.pad-top-145 {
  padding-top: 145px !important; }

.pad-bottom-145 {
  padding-bottom: 145px !important; }

.mar-145 {
  margin: 145px !important; }

.mar-left-145 {
  margin-left: 145px !important; }

.mar-right-145 {
  margin-right: 145px !important; }

.mar-top-145 {
  margin-top: 145px !important; }

.mar-bottom-145 {
  margin-bottom: 145px !important; }

.size-30 {
  font-size: 30px !important; }

.pad-150 {
  padding: 150px !important; }

.pad-left-150 {
  padding-left: 150px !important; }

.pad-right-150 {
  padding-right: 150px !important; }

.pad-top-150 {
  padding-top: 150px !important; }

.pad-bottom-150 {
  padding-bottom: 150px !important; }

.mar-150 {
  margin: 150px !important; }

.mar-left-150 {
  margin-left: 150px !important; }

.mar-right-150 {
  margin-right: 150px !important; }

.mar-top-150 {
  margin-top: 150px !important; }

.mar-bottom-150 {
  margin-bottom: 150px !important; }

.size-31 {
  font-size: 31px !important; }

.pad-155 {
  padding: 155px !important; }

.pad-left-155 {
  padding-left: 155px !important; }

.pad-right-155 {
  padding-right: 155px !important; }

.pad-top-155 {
  padding-top: 155px !important; }

.pad-bottom-155 {
  padding-bottom: 155px !important; }

.mar-155 {
  margin: 155px !important; }

.mar-left-155 {
  margin-left: 155px !important; }

.mar-right-155 {
  margin-right: 155px !important; }

.mar-top-155 {
  margin-top: 155px !important; }

.mar-bottom-155 {
  margin-bottom: 155px !important; }

.size-32 {
  font-size: 32px !important; }

.pad-160 {
  padding: 160px !important; }

.pad-left-160 {
  padding-left: 160px !important; }

.pad-right-160 {
  padding-right: 160px !important; }

.pad-top-160 {
  padding-top: 160px !important; }

.pad-bottom-160 {
  padding-bottom: 160px !important; }

.mar-160 {
  margin: 160px !important; }

.mar-left-160 {
  margin-left: 160px !important; }

.mar-right-160 {
  margin-right: 160px !important; }

.mar-top-160 {
  margin-top: 160px !important; }

.mar-bottom-160 {
  margin-bottom: 160px !important; }

.size-33 {
  font-size: 33px !important; }

.pad-165 {
  padding: 165px !important; }

.pad-left-165 {
  padding-left: 165px !important; }

.pad-right-165 {
  padding-right: 165px !important; }

.pad-top-165 {
  padding-top: 165px !important; }

.pad-bottom-165 {
  padding-bottom: 165px !important; }

.mar-165 {
  margin: 165px !important; }

.mar-left-165 {
  margin-left: 165px !important; }

.mar-right-165 {
  margin-right: 165px !important; }

.mar-top-165 {
  margin-top: 165px !important; }

.mar-bottom-165 {
  margin-bottom: 165px !important; }

.size-34 {
  font-size: 34px !important; }

.pad-170 {
  padding: 170px !important; }

.pad-left-170 {
  padding-left: 170px !important; }

.pad-right-170 {
  padding-right: 170px !important; }

.pad-top-170 {
  padding-top: 170px !important; }

.pad-bottom-170 {
  padding-bottom: 170px !important; }

.mar-170 {
  margin: 170px !important; }

.mar-left-170 {
  margin-left: 170px !important; }

.mar-right-170 {
  margin-right: 170px !important; }

.mar-top-170 {
  margin-top: 170px !important; }

.mar-bottom-170 {
  margin-bottom: 170px !important; }

.size-35 {
  font-size: 35px !important; }

.pad-175 {
  padding: 175px !important; }

.pad-left-175 {
  padding-left: 175px !important; }

.pad-right-175 {
  padding-right: 175px !important; }

.pad-top-175 {
  padding-top: 175px !important; }

.pad-bottom-175 {
  padding-bottom: 175px !important; }

.mar-175 {
  margin: 175px !important; }

.mar-left-175 {
  margin-left: 175px !important; }

.mar-right-175 {
  margin-right: 175px !important; }

.mar-top-175 {
  margin-top: 175px !important; }

.mar-bottom-175 {
  margin-bottom: 175px !important; }

.size-36 {
  font-size: 36px !important; }

.pad-180 {
  padding: 180px !important; }

.pad-left-180 {
  padding-left: 180px !important; }

.pad-right-180 {
  padding-right: 180px !important; }

.pad-top-180 {
  padding-top: 180px !important; }

.pad-bottom-180 {
  padding-bottom: 180px !important; }

.mar-180 {
  margin: 180px !important; }

.mar-left-180 {
  margin-left: 180px !important; }

.mar-right-180 {
  margin-right: 180px !important; }

.mar-top-180 {
  margin-top: 180px !important; }

.mar-bottom-180 {
  margin-bottom: 180px !important; }

.size-37 {
  font-size: 37px !important; }

.pad-185 {
  padding: 185px !important; }

.pad-left-185 {
  padding-left: 185px !important; }

.pad-right-185 {
  padding-right: 185px !important; }

.pad-top-185 {
  padding-top: 185px !important; }

.pad-bottom-185 {
  padding-bottom: 185px !important; }

.mar-185 {
  margin: 185px !important; }

.mar-left-185 {
  margin-left: 185px !important; }

.mar-right-185 {
  margin-right: 185px !important; }

.mar-top-185 {
  margin-top: 185px !important; }

.mar-bottom-185 {
  margin-bottom: 185px !important; }

.size-38 {
  font-size: 38px !important; }

.pad-190 {
  padding: 190px !important; }

.pad-left-190 {
  padding-left: 190px !important; }

.pad-right-190 {
  padding-right: 190px !important; }

.pad-top-190 {
  padding-top: 190px !important; }

.pad-bottom-190 {
  padding-bottom: 190px !important; }

.mar-190 {
  margin: 190px !important; }

.mar-left-190 {
  margin-left: 190px !important; }

.mar-right-190 {
  margin-right: 190px !important; }

.mar-top-190 {
  margin-top: 190px !important; }

.mar-bottom-190 {
  margin-bottom: 190px !important; }

.size-39 {
  font-size: 39px !important; }

.pad-195 {
  padding: 195px !important; }

.pad-left-195 {
  padding-left: 195px !important; }

.pad-right-195 {
  padding-right: 195px !important; }

.pad-top-195 {
  padding-top: 195px !important; }

.pad-bottom-195 {
  padding-bottom: 195px !important; }

.mar-195 {
  margin: 195px !important; }

.mar-left-195 {
  margin-left: 195px !important; }

.mar-right-195 {
  margin-right: 195px !important; }

.mar-top-195 {
  margin-top: 195px !important; }

.mar-bottom-195 {
  margin-bottom: 195px !important; }

.size-40 {
  font-size: 40px !important; }

.pad-200 {
  padding: 200px !important; }

.pad-left-200 {
  padding-left: 200px !important; }

.pad-right-200 {
  padding-right: 200px !important; }

.pad-top-200 {
  padding-top: 200px !important; }

.pad-bottom-200 {
  padding-bottom: 200px !important; }

.mar-200 {
  margin: 200px !important; }

.mar-left-200 {
  margin-left: 200px !important; }

.mar-right-200 {
  margin-right: 200px !important; }

.mar-top-200 {
  margin-top: 200px !important; }

.mar-bottom-200 {
  margin-bottom: 200px !important; }

.size-41 {
  font-size: 41px !important; }

.pad-205 {
  padding: 205px !important; }

.pad-left-205 {
  padding-left: 205px !important; }

.pad-right-205 {
  padding-right: 205px !important; }

.pad-top-205 {
  padding-top: 205px !important; }

.pad-bottom-205 {
  padding-bottom: 205px !important; }

.mar-205 {
  margin: 205px !important; }

.mar-left-205 {
  margin-left: 205px !important; }

.mar-right-205 {
  margin-right: 205px !important; }

.mar-top-205 {
  margin-top: 205px !important; }

.mar-bottom-205 {
  margin-bottom: 205px !important; }

.size-42 {
  font-size: 42px !important; }

.pad-210 {
  padding: 210px !important; }

.pad-left-210 {
  padding-left: 210px !important; }

.pad-right-210 {
  padding-right: 210px !important; }

.pad-top-210 {
  padding-top: 210px !important; }

.pad-bottom-210 {
  padding-bottom: 210px !important; }

.mar-210 {
  margin: 210px !important; }

.mar-left-210 {
  margin-left: 210px !important; }

.mar-right-210 {
  margin-right: 210px !important; }

.mar-top-210 {
  margin-top: 210px !important; }

.mar-bottom-210 {
  margin-bottom: 210px !important; }

.size-43 {
  font-size: 43px !important; }

.pad-215 {
  padding: 215px !important; }

.pad-left-215 {
  padding-left: 215px !important; }

.pad-right-215 {
  padding-right: 215px !important; }

.pad-top-215 {
  padding-top: 215px !important; }

.pad-bottom-215 {
  padding-bottom: 215px !important; }

.mar-215 {
  margin: 215px !important; }

.mar-left-215 {
  margin-left: 215px !important; }

.mar-right-215 {
  margin-right: 215px !important; }

.mar-top-215 {
  margin-top: 215px !important; }

.mar-bottom-215 {
  margin-bottom: 215px !important; }

.size-44 {
  font-size: 44px !important; }

.pad-220 {
  padding: 220px !important; }

.pad-left-220 {
  padding-left: 220px !important; }

.pad-right-220 {
  padding-right: 220px !important; }

.pad-top-220 {
  padding-top: 220px !important; }

.pad-bottom-220 {
  padding-bottom: 220px !important; }

.mar-220 {
  margin: 220px !important; }

.mar-left-220 {
  margin-left: 220px !important; }

.mar-right-220 {
  margin-right: 220px !important; }

.mar-top-220 {
  margin-top: 220px !important; }

.mar-bottom-220 {
  margin-bottom: 220px !important; }

.size-45 {
  font-size: 45px !important; }

.pad-225 {
  padding: 225px !important; }

.pad-left-225 {
  padding-left: 225px !important; }

.pad-right-225 {
  padding-right: 225px !important; }

.pad-top-225 {
  padding-top: 225px !important; }

.pad-bottom-225 {
  padding-bottom: 225px !important; }

.mar-225 {
  margin: 225px !important; }

.mar-left-225 {
  margin-left: 225px !important; }

.mar-right-225 {
  margin-right: 225px !important; }

.mar-top-225 {
  margin-top: 225px !important; }

.mar-bottom-225 {
  margin-bottom: 225px !important; }

.size-46 {
  font-size: 46px !important; }

.pad-230 {
  padding: 230px !important; }

.pad-left-230 {
  padding-left: 230px !important; }

.pad-right-230 {
  padding-right: 230px !important; }

.pad-top-230 {
  padding-top: 230px !important; }

.pad-bottom-230 {
  padding-bottom: 230px !important; }

.mar-230 {
  margin: 230px !important; }

.mar-left-230 {
  margin-left: 230px !important; }

.mar-right-230 {
  margin-right: 230px !important; }

.mar-top-230 {
  margin-top: 230px !important; }

.mar-bottom-230 {
  margin-bottom: 230px !important; }

.size-47 {
  font-size: 47px !important; }

.pad-235 {
  padding: 235px !important; }

.pad-left-235 {
  padding-left: 235px !important; }

.pad-right-235 {
  padding-right: 235px !important; }

.pad-top-235 {
  padding-top: 235px !important; }

.pad-bottom-235 {
  padding-bottom: 235px !important; }

.mar-235 {
  margin: 235px !important; }

.mar-left-235 {
  margin-left: 235px !important; }

.mar-right-235 {
  margin-right: 235px !important; }

.mar-top-235 {
  margin-top: 235px !important; }

.mar-bottom-235 {
  margin-bottom: 235px !important; }

.size-48 {
  font-size: 48px !important; }

.pad-240 {
  padding: 240px !important; }

.pad-left-240 {
  padding-left: 240px !important; }

.pad-right-240 {
  padding-right: 240px !important; }

.pad-top-240 {
  padding-top: 240px !important; }

.pad-bottom-240 {
  padding-bottom: 240px !important; }

.mar-240 {
  margin: 240px !important; }

.mar-left-240 {
  margin-left: 240px !important; }

.mar-right-240 {
  margin-right: 240px !important; }

.mar-top-240 {
  margin-top: 240px !important; }

.mar-bottom-240 {
  margin-bottom: 240px !important; }

.size-49 {
  font-size: 49px !important; }

.pad-245 {
  padding: 245px !important; }

.pad-left-245 {
  padding-left: 245px !important; }

.pad-right-245 {
  padding-right: 245px !important; }

.pad-top-245 {
  padding-top: 245px !important; }

.pad-bottom-245 {
  padding-bottom: 245px !important; }

.mar-245 {
  margin: 245px !important; }

.mar-left-245 {
  margin-left: 245px !important; }

.mar-right-245 {
  margin-right: 245px !important; }

.mar-top-245 {
  margin-top: 245px !important; }

.mar-bottom-245 {
  margin-bottom: 245px !important; }

.size-50 {
  font-size: 50px !important; }

.pad-250 {
  padding: 250px !important; }

.pad-left-250 {
  padding-left: 250px !important; }

.pad-right-250 {
  padding-right: 250px !important; }

.pad-top-250 {
  padding-top: 250px !important; }

.pad-bottom-250 {
  padding-bottom: 250px !important; }

.mar-250 {
  margin: 250px !important; }

.mar-left-250 {
  margin-left: 250px !important; }

.mar-right-250 {
  margin-right: 250px !important; }

.mar-top-250 {
  margin-top: 250px !important; }

.mar-bottom-250 {
  margin-bottom: 250px !important; }

.size-51 {
  font-size: 51px !important; }

.pad-255 {
  padding: 255px !important; }

.pad-left-255 {
  padding-left: 255px !important; }

.pad-right-255 {
  padding-right: 255px !important; }

.pad-top-255 {
  padding-top: 255px !important; }

.pad-bottom-255 {
  padding-bottom: 255px !important; }

.mar-255 {
  margin: 255px !important; }

.mar-left-255 {
  margin-left: 255px !important; }

.mar-right-255 {
  margin-right: 255px !important; }

.mar-top-255 {
  margin-top: 255px !important; }

.mar-bottom-255 {
  margin-bottom: 255px !important; }

.size-52 {
  font-size: 52px !important; }

.pad-260 {
  padding: 260px !important; }

.pad-left-260 {
  padding-left: 260px !important; }

.pad-right-260 {
  padding-right: 260px !important; }

.pad-top-260 {
  padding-top: 260px !important; }

.pad-bottom-260 {
  padding-bottom: 260px !important; }

.mar-260 {
  margin: 260px !important; }

.mar-left-260 {
  margin-left: 260px !important; }

.mar-right-260 {
  margin-right: 260px !important; }

.mar-top-260 {
  margin-top: 260px !important; }

.mar-bottom-260 {
  margin-bottom: 260px !important; }

.size-53 {
  font-size: 53px !important; }

.pad-265 {
  padding: 265px !important; }

.pad-left-265 {
  padding-left: 265px !important; }

.pad-right-265 {
  padding-right: 265px !important; }

.pad-top-265 {
  padding-top: 265px !important; }

.pad-bottom-265 {
  padding-bottom: 265px !important; }

.mar-265 {
  margin: 265px !important; }

.mar-left-265 {
  margin-left: 265px !important; }

.mar-right-265 {
  margin-right: 265px !important; }

.mar-top-265 {
  margin-top: 265px !important; }

.mar-bottom-265 {
  margin-bottom: 265px !important; }

.size-54 {
  font-size: 54px !important; }

.pad-270 {
  padding: 270px !important; }

.pad-left-270 {
  padding-left: 270px !important; }

.pad-right-270 {
  padding-right: 270px !important; }

.pad-top-270 {
  padding-top: 270px !important; }

.pad-bottom-270 {
  padding-bottom: 270px !important; }

.mar-270 {
  margin: 270px !important; }

.mar-left-270 {
  margin-left: 270px !important; }

.mar-right-270 {
  margin-right: 270px !important; }

.mar-top-270 {
  margin-top: 270px !important; }

.mar-bottom-270 {
  margin-bottom: 270px !important; }

.size-55 {
  font-size: 55px !important; }

.pad-275 {
  padding: 275px !important; }

.pad-left-275 {
  padding-left: 275px !important; }

.pad-right-275 {
  padding-right: 275px !important; }

.pad-top-275 {
  padding-top: 275px !important; }

.pad-bottom-275 {
  padding-bottom: 275px !important; }

.mar-275 {
  margin: 275px !important; }

.mar-left-275 {
  margin-left: 275px !important; }

.mar-right-275 {
  margin-right: 275px !important; }

.mar-top-275 {
  margin-top: 275px !important; }

.mar-bottom-275 {
  margin-bottom: 275px !important; }

.size-56 {
  font-size: 56px !important; }

.pad-280 {
  padding: 280px !important; }

.pad-left-280 {
  padding-left: 280px !important; }

.pad-right-280 {
  padding-right: 280px !important; }

.pad-top-280 {
  padding-top: 280px !important; }

.pad-bottom-280 {
  padding-bottom: 280px !important; }

.mar-280 {
  margin: 280px !important; }

.mar-left-280 {
  margin-left: 280px !important; }

.mar-right-280 {
  margin-right: 280px !important; }

.mar-top-280 {
  margin-top: 280px !important; }

.mar-bottom-280 {
  margin-bottom: 280px !important; }

.size-57 {
  font-size: 57px !important; }

.pad-285 {
  padding: 285px !important; }

.pad-left-285 {
  padding-left: 285px !important; }

.pad-right-285 {
  padding-right: 285px !important; }

.pad-top-285 {
  padding-top: 285px !important; }

.pad-bottom-285 {
  padding-bottom: 285px !important; }

.mar-285 {
  margin: 285px !important; }

.mar-left-285 {
  margin-left: 285px !important; }

.mar-right-285 {
  margin-right: 285px !important; }

.mar-top-285 {
  margin-top: 285px !important; }

.mar-bottom-285 {
  margin-bottom: 285px !important; }

.size-58 {
  font-size: 58px !important; }

.pad-290 {
  padding: 290px !important; }

.pad-left-290 {
  padding-left: 290px !important; }

.pad-right-290 {
  padding-right: 290px !important; }

.pad-top-290 {
  padding-top: 290px !important; }

.pad-bottom-290 {
  padding-bottom: 290px !important; }

.mar-290 {
  margin: 290px !important; }

.mar-left-290 {
  margin-left: 290px !important; }

.mar-right-290 {
  margin-right: 290px !important; }

.mar-top-290 {
  margin-top: 290px !important; }

.mar-bottom-290 {
  margin-bottom: 290px !important; }

.size-59 {
  font-size: 59px !important; }

.pad-295 {
  padding: 295px !important; }

.pad-left-295 {
  padding-left: 295px !important; }

.pad-right-295 {
  padding-right: 295px !important; }

.pad-top-295 {
  padding-top: 295px !important; }

.pad-bottom-295 {
  padding-bottom: 295px !important; }

.mar-295 {
  margin: 295px !important; }

.mar-left-295 {
  margin-left: 295px !important; }

.mar-right-295 {
  margin-right: 295px !important; }

.mar-top-295 {
  margin-top: 295px !important; }

.mar-bottom-295 {
  margin-bottom: 295px !important; }

.bg-red {
  background-color: #c24430 !important; }

.color-red {
  color: #c24430 !important; }

.bor-red {
  border-color: #c24430 !important; }

.bg-orange {
  background-color: #e56038 !important; }

.color-orange {
  color: #e56038 !important; }

.bor-orange {
  border-color: #e56038 !important; }

.bg-orange-i {
  background-color: #ebe8de !important; }

.color-orange-i {
  color: #ebe8de !important; }

.bor-orange-i {
  border-color: #ebe8de !important; }

.bg-brown {
  background-color: #403828 !important; }

.color-brown {
  color: #403828 !important; }

.bor-brown {
  border-color: #403828 !important; }

.bg-brown-i {
  background-color: #f5f2f0 !important; }

.color-brown-i {
  color: #f5f2f0 !important; }

.bor-brown-i {
  border-color: #f5f2f0 !important; }

.bg-cherry {
  background-color: #d28fd1 !important; }

.color-cherry {
  color: #d28fd1 !important; }

.bor-cherry {
  border-color: #d28fd1 !important; }

.bg-cherry-i {
  background-color: #f01d76 !important; }

.color-cherry-i {
  color: #f01d76 !important; }

.bor-cherry-i {
  border-color: #f01d76 !important; }

.bg-river {
  background-color: #8fbcbb !important; }

.color-river {
  color: #8fbcbb !important; }

.bor-river {
  border-color: #8fbcbb !important; }

.bg-gray {
  background-color: #95928e !important; }

.color-gray {
  color: #95928e !important; }

.bor-gray {
  border-color: #95928e !important; }

.bg-gray-i {
  background-color: #d6d0c1 !important; }

.color-gray-i {
  color: #d6d0c1 !important; }

.bor-gray-i {
  border-color: #d6d0c1 !important; }

.bg-blue {
  background-color: #78ccff !important; }

.color-blue {
  color: #78ccff !important; }

.bor-blue {
  border-color: #78ccff !important; }

.bg-blue-i {
  background-color: #08aed5 !important; }

.color-blue-i {
  color: #08aed5 !important; }

.bor-blue-i {
  border-color: #08aed5 !important; }

.bg-green {
  background-color: #78b335 !important; }

.color-green {
  color: #78b335 !important; }

.bor-green {
  border-color: #78b335 !important; }

.bg-yellow {
  background-color: #fff050 !important; }

.color-yellow {
  color: #fff050 !important; }

.bor-yellow {
  border-color: #fff050 !important; }

.bg-white {
  background-color: white !important; }

.color-white {
  color: white !important; }

.bor-white {
  border-color: white !important; }

.bg-black {
  background-color: #333333 !important; }

.color-black {
  color: #333333 !important; }

.bor-black {
  border-color: #333333 !important; }

.bg-dark {
  background-color: #1d1d1d !important; }

.color-dark {
  color: #1d1d1d !important; }

.bor-dark {
  border-color: #1d1d1d !important; }

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.div-input {
  display: inline-flex;
  align-items: center;
  margin-left: 10px; }

.div-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px; }

.div-image {
  height: auto;
  width: 100%;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  background-color: white;
  overflow: hidden; }

.card {
  display: flex;
  margin-top: 25px;
  width: 300px; }
  .card .card-text p {
    /*font-family: 'Open-Sans' !important;*/
    font-size: 14px !important;
    line-height: 1.5em !important;
    padding-top: 5px !important; }

.card-col {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 200px; }
  .card-col .card-header {
    padding: 20px 0;
    font-size: 14px !important;
    font-weight: 700;
    letter-spacing: 0.5px; }
  .card-col .card-text p {
    font-family: 'Ubuntu' !important;
    font-size: 14px !important;
    line-height: 2em !important;
    padding-top: 5px !important; }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.link {
  text-decoration: none;
  color: inherit; }

.text-cap {
  text-transform: capitalize; }

.text-low {
  text-transform: lowercase; }

.text-up {
  text-transform: uppercase; }

.weigh100 {
  font-weight: 100; }

.weigh300 {
  font-weight: 300; }

.weigh500 {
  font-weight: 500; }

.weigh700 {
  font-weight: 700; }

.weigh900 {
  font-weight: 900; }

.hover-light:hover {
  filter: brightness(110%); }

.hover-shine:hover {
  filter: brightness(120%); }

.hover-dark:hover {
  filter: brightness(90%); }

.hover-dead:hover {
  filter: brightness(80%); }

/* Not fixed for now */
header {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap; }

nav {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end; }
  nav ul {
    list-style: none;
    display: inline-flex; }
    nav ul li {
      margin-left: 20px;
      text-transform: uppercase; }

.flex {
  display: flex; }

.just {
  justify-content: center; }

.align {
  align-items: center; }

.wrap {
  flex-wrap: wrap; }

.between {
  justify-content: space-between; }

.around {
  justify-content: space-around; }

.flex-col {
  flex-direction: column; }

.max-w900 {
  max-width: 900px; }

h3 {
  font-weight: 700; }

footer {
  background-color: #333333; }
  footer * {
    color: white; }

.social ul {
  list-style: none;
  display: inline-flex; }
  .social ul li {
    margin-left: 20px;
    text-transform: uppercase; }

.fa {
  font-family: 'Font Awesome 5 Pro' !important; }

.fab {
  font-family: "Font Awesome 5 Brands" !important; }

/*
++++++++++++++++++++++++++++++++++++++++++++
1 - Nesting
body {
  nav {
    ul {
      li {
        .link {}
        @media screen and (max-width:1000px) {}
      }
    }
  }
}
++++++++++++++++++++++++++++++++++++++++++++
2 - Variables
$lambo-green = "#313131";
$base-font = "Georgia";
a {
  color: $lambo-green;
  font-family: $base-font;
}
++++++++++++++++++++++++++++++++++++++++++++
3 - Mixins
@mixin highlighted-text {
  background-color: $lambo-green;
  color: darken(red, 25%);
}
@mixin round-corners ($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
span {
  @include highlighted-text;
}
button {
  @include round-corners;
}
++++++++++++++++++++++++++++++++++++++++++++
4 - Math
@mixin total-width ($width1, $width2) {
  width = $width1 + $width2;
}

*/

/*# sourceMappingURL=main.css.map */
